################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Urb/obj/x86/Debug
/Urb/bin/Debug
/.vs/Urb/v14
/Urb/Urb.csproj.user
/Urb/obj/x86/Release
/Urb/bin/Release
